.root {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.write-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 50px;
}

.write-container > textarea {
  width: 50%;
  height: 50%;
}

.write-container > button {
  width: 20%;
  padding: 10px;
}

.question-container {
  width: 50%;
  height: 50%;

  position: relative;
}

.question-container > .content {
  position: absolute;
  top: 30%;
}

.question-container > .button-container {
  position: absolute;
  bottom: 10%;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.question-container > .button-container > button {
  width: 20%;
  padding: 10px;
}

.finish-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.finish-container > button {
  width: 20%;
  padding: 10px;
}
